<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="{%  static  'css/style1.css'  %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses list</title>
</head>
<h1>Courses list</h1>
<table>
    <tr id="row">

        <th>Course Name</th>
        <th>Course Code</th>
        <th>Course Duration</th>
        <th>Trainer Name</th>
        <th>Time in Hours</th>
        <th>Course Schedule</th>
    </tr>
    <tr>
        {% for course in courses %}

        <td>{{course.course_name}}</td>
        <td>{{course.course_code}}</td>
        <td>{{course.course_duration}}</td>
        <td>{{course.trainer_name}}</td>
        <td>{{course.time_in_hours}}</td>
        <td>{{course.course_schedule}}</td>

    </tr>
    {% endfor %}
</table>

<body>
</body>

</html>