<h1>students: {{ students }}</h1>
<h1>trainers: {{ trainers }}</h1>
<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="{%   static 'css/style2.css'   %}">
</head>

<!-- <body style="background-image:url('{% static 'images/akira3.png' %}');"> -->

<body>
    <header>
        <nav class="navbar">
            <ul>
                <li> <a href="../register">Students</a> </li>
                <li> <a href="../about">Trainers</a> </li>
                <li>
                    <a href="../login">Courses</a>
                </li>
                <li>
                    <a href="../signup">Events</a>
                </li>
            </ul>
        </nav>
    </header>
    <video width='320' height='240' controls>
        <source src="{% static 'videos/Akirachix.mp4' type='video/mp4' %}">
        </video>

    <!-- <img src="{% static 'images/akira3.png' %}" alt=" "> -->
</body>

</html>