header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 25rem;
    background-color: rgb(143, 114, 114);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .navbar {
    width: 200%;
}

header .navbar ul {
    list-style: none;
    padding: 0.4rem 2rem;
    margin-left: 20%;
    margin-right: 20%;
}

header .navbar ul li a {
    display: block;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 3rem 0.9rem;
    color: black;
    font-size: 2rem;
    border-radius: 5rem;
    width: 90%;
    background-color: white;
    text-decoration: none;
}

header .navbar ul li a:hover {
    background: white;
}

.par {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 300px;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
}

img {
    align-items: center;
    margin-left: 820px;
    margin-top: 100px;
}

h1 {
    color: rgb(143, 114, 114);
    font-style: italic;
    text-shadow: rgb(231, 109, 28);
    text-decoration: solid;
    margin-left: 20%;
    margin-bottom: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form_control {
    border-radius: 9px;
    width: 450%;
    height: 300%;
    padding: 9%;
    background-color: white;
    font-size: 17px;
    border-color: black;
    margin-left: 5%;
    color: black;
    margin-right: 10%;
}

.form_control1 {
    border-radius: 9px;
    width: 450%;
    height: 300000%;
    padding: 9%;
    background-color: white;
    font-size: 17px;
    color: black;
    border-color: black;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 30%;
}

form {
    margin-left: 10%;
    font-style: italic;
    width: 54%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 16px;
    background-color: rgb(202, 198, 198);
    text-align: center;
}

body {
    background-repeat: no-repeat;
    background-position: top;
    background-color: white;
}

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}

.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
}

.calendar tr,
.calendar td {
    border: 1px solid black;
}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td {
    width: 200px;
    height: 150px;
    padding: 20px 0px 0px 5px;
}

.month {
    font-size: 25px;
}

.date {
    font-size: 16px;
}

ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
}

a {
    color: #17a2b8;
}

h1 {
    text-decoration: underline;
    margin-left: 520px;
    font-size: 40px;
}

#row {
    font-size: 26px;
    font-weight: bold;
    /* background-color: rgb(143, 114, 114); */
    background-color: rgb(202, 198, 198);
}