.form_control {
    border-radius: 9px;
    width: 450%;
    height: 300%;
    padding: 9%;
    background-color: white;
    font-size: 17px;
    border-color: black;
    margin-left: 5%;
    color: black;
    margin-right: 10%;
}

.form_control1 {
    border-radius: 9px;
    width: 450%;
    height: 300000%;
    padding: 9%;
    background-color: white;
    font-size: 17px;
    color: black;
    border-color: black;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: 30%;
}

form {
    margin-left: 10%;
    font-style: italic;
    width: 54%;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 16px;
    background-color: rgb(143, 114, 114);
    text-align: center;
}

body {
    background-repeat: no-repeat;
    background-position: top;
    background-color: white;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background-color: rgb(143, 114, 114);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .navbar {
    width: 200%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 3rem;
    margin-right: 20%;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 4rem 0;
    color: black;
    font-size: 2rem;
    border-radius: 5rem;
    width: 90%;
    background-color: white;
    text-decoration: none;
}

header .navbar ul li a:hover {
    background: white;
}

.par {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 300px;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
}

::placeholder {
    opacity: 1;
    margin: 30px;
    color: black;
}

#btn {
    font-size: 20px;
    background-color: red;
    color: white;
    margin-bottom: 20px;
}

body {
    background-repeat: no-repeat;
    background-position: top;
    background-color: white;
}

img {
    align-items: center;
    margin-left: 820px;
    margin-top: 100px;
}

h1 {
    color: rgb(143, 114, 114);
    font-style: italic;
    text-shadow: rgb(231, 109, 28);
    text-decoration: solid;
    margin-left: 20%;
    margin-bottom: 1%;
    margin-top: 10px;
    margin-bottom: 10px;
}

table,
td {
    border: 1px solid black;
}