<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>AkiraChix management system</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{%  static  'css/style1.css'  %}">

</head>

<body id="bg">
    <div class="cen">
        <div class="col-md-10 col-md-offset-1">
            <div class="form ">
                <form method="POST ">
                    <div style="width: 120px;">
                        {{form.as_p}}

                    </div>

                    <button type="submit" class="btn btn-danger" id="btn">Register</button>
            </div>
        </div>
        </form>
    </div>
    </div>
</body>

</html>