<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="{%   static 'css/style2.css'   %}">
</head>
<!-- <body style="background-image:url('{% static 'images/akira3.png' %}');"> -->

<body>
    <header>
        <nav class="navbar">
            <ul>
                <li> <a href="{% url 'student:homepage' % }">Students</a> </li>
                <li> <a href="{ % url 'trainer:homepage' % }">Trainers</a> </li>
                <li>
                    <a href="{ % url 'course:homepage' % }">Courses</a>
                </li>
                <li>
                    <a href="{ % url 'calendarr:homepage' %}">Events</a>
                </li>
            </ul>
        </nav>
    </header>
    <img src="{% static 'images/akira3.png' %}" alt=" ">
    <style>
        video {
            margin-left: 60%,
        }
        
        img {
            margin-left: 40%;
            margin-right: 40%;
        }
    </style>
</body>

</html>