<!DOCTYPE html> {% load static %}
<html>

<head>
    <title>
    </title>
    <link rel="stylesheet" href="{%   static 'css/style2.css'   %}">
</head>

<body style="background-image:url('{% static 'images/akira3.png' %}');">
    <header>
        <nav class="navbar">
            <ul>
                <li> <a href="../register">Student_register</a> </li>
                <li> <a href="../about">Trainer</a> </li>
                <li> <a href="../login">Login</a> </li>
                <li> <a href="../signup">Signup</a> </li>
            </ul>
        </nav>
    </header>
    <p class="par">Welcome to AkiraChix management system!</p>
    <img src="{% static 'images/akira3.png' %}" alt=" ">
</body>

</html>