.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
}

.calendar tr,
.calendar td {
    border: 1px solid black;
}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
    background-color: purple;
    color: white;
}

.calendar td {
    width: 200px;
    height: 50px;
    padding: 20px 0px 0px 5px;
    border: 2px solid purple;
}

.month {
    font-size: 25px;
    border: 2px solid white;
}

.date {
    font-size: 16px;
}

ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
}

a {
    margin-bottom: 2%;
    background-color: purple;
    color: white;
    margin-right: 20%;
}

a:hover {
    border: 3px solid purple;
    background-color: white;
}

h1 {
    margin-left: 30%;
    text-decoration: underline;
}

#prev {
    margin-left: 25%;
}

li {
    margin-left: 20%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 25rem;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .navbar {
    width: 200%;
}

header .navbar ul {
    list-style: none;
    padding: 0.4rem 2rem;
    margin-left: 20%;
    margin-right: 20%;
}

header .navbar ul li a {
    display: block;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 3rem 0.9rem;
    color: black;
    font-size: 2rem;
    border-radius: 5rem;
    width: 90%;
    background-color: white;
    text-decoration: none;
}

header .navbar ul li a:hover {
    background: white;
}