        .form_control {
            border-radius: 9px;
            width: 60%;
            height: 300%;
            padding: 9%;
            background-color: white;
            /* background-color: rgb(143, 114, 114); */
            font-size: 17px;
            color: black;
            border-color: black;
            margin-left: 25%;
        }
        
        form {
            margin-left: 10%;
            font-style: italic;
            width: 60%;
            margin-left: 30%;
            margin-right: 30%;
            font-size: 16px;
            background-color: rgb(143, 114, 114);
            text-align: center;
        }
        
        h1 {
            color: rgb(143, 114, 114);
            font-style: italic;
            text-shadow: rgb(231, 109, 28);
            text-decoration: solid;
            margin-left: 20%;
            margin-bottom: 1%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        
        header {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            height: 100%;
            width: 35rem;
            background-color: rgb(143, 114, 114);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            text-align: center;
        }
        
        header .navbar {
            width: 200%;
        }
        
        header .navbar ul {
            list-style: none;
            padding: 1rem 3rem;
            margin-right: 20%;
        }
        
        header .navbar ul li a {
            display: block;
            padding: 1rem;
            margin: 3rem 0;
            color: black;
            font-size: 2rem;
            border-radius: 5rem;
            width: 160%;
            background-color: bisque;
            text-decoration: none;
        }
        
        header .navbar ul li a:hover {
            background: rgb(118, 39, 121);
        }
        
        .par {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 300px;
            font-weight: bolder;
            font-style: italic;
            font-size: 20px;
        }
        
        img {
            align-items: center;
            margin-left: 820px;
            margin-top: 100px;
        }
        
         ::placeholder {
            color: white;
            opacity: 1;
        }
        
        a {
            text-decoration: none;
        }
        
         ::placeholder {
            color: black;
            opacity: 1;
        }
        
        a {
            text-decoration: none;
        }
        
        #btn {
            font-size: 20px;
            background-color: white;
            color: black;
            margin-bottom: 20px;
        }
        
        body {
            background-repeat: no-repeat;
            background-position: top;
            background-color: white;
        }
        
        .par {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 300px;
            font-weight: bolder;
            font-style: italic;
            font-size: 20px;
        }
        
        img {
            align-items: center;
            margin-left: 820px;
            margin-top: 100px;
        }